<!doctype html>
<html>
<head>
    <title>Fitness App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
      <div class="headerButton">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      
      <div>
        <h1>Daily Meal Tracker</h1>
      </div>
    </header>
  
        
    <%let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>   
          
  <section class="mealSection">
    <section>
      <form class="dailyMeal" action="/info" method="POST">
        
        <div class="dates">
          <h3>Meals Of The Day</h3>
          <select name="day">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
            
          </select>
          <select name="meal">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Snack</option>
          </select>
        </div>
        
        <div class="meal"> 
          <div class="input">
            <span>Name Of Meal</span>
          </div>
          
          <div id="mealTxt">
            <input type="text" placeholder="Input Meal" name="name"> 
          </div>
        </div>
        
        <div class="calories">
          <div class="input">
            <span>Calories</span>
          </div>
          
          <div class="txtInput">
            <input type="number" placeholder="Calories" name="calories"> grams
          </div>
        </div>
       
        <div class="protein">
          <div class="input">
            <span>Protein</span>
          </div>
          
          <div class="txtInput">
           <input type="number" placeholder="Protein" name="protein"> grams
          </div>
        </div>
       
        <div class="carbs">
          <div class="input">
            <span>Carbs</span>
          </div>
          
          <div class="txtInput">
            <input type="number" placeholder="Carbs" name="carbs"> grams
          </div>
        </div>
        
        <div class="fats">
          <div class="input">
            <span>Fats</span>
          </div>
          
          <div class="txtInput">
            <input type="number" placeholder="Fats" name="fats"> grams
          </div>
        </div>
        
        <div class="options">
          <span class="input">
            <span>Did you enjoy it?</span>
          </span>
          
          <div class="txtInput">
            <select name="option">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
         
        </div>
        
        <button type="submit">Keep Track</button>
      </form>
    </section>
  </section>

  <section class="mealSection">
    <h2 class="orders">Meals Of the Week</h2>
    <ul class="messages">
          
            
              <% for(let x = 0; x < days.length; x++) { %>
                <section class="daysContainer">

                
                  <section class="daysSection">
                    <h2><%= days[x] %></h2>
                
                
                    <% for(var i=0; i < info.length; i++) {%>
                 
                    <% if(info[i].day === days[x]) {%>
                  <section class="daysTxt">
                    <li><span><%= info[i].day %></span></li>
                    <li><span><%= info[i].meal %></span></li>
                    <li><span><%= info[i].name %></span></li>
                    <li><span><%= info[i].calories %> calorie(s) </span></li>
                    <li><span><%= info[i].protein %> grams of protein </span></li>
                    <li><span><%= info[i].carbs %> gram(s) of carbs </span></li>
                    <li><span><%= info[i].fats %> gram(s) of fat </span></li>
                    <li><span><%= info[i].option %></span></li>
                    
                    <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                    <% if(info[i].check === true) { %>
                      <span><i data-checkbox="true" class="fa-solid fa-check checkgreen strike" aria-hidden="true"></i></span> 
                    <% } else { %>
                      <span><i data-checkbox="false" class="fa-solid fa-check checkblack" aria-hidden="true"></i></span>
                    <% } %>
                  </section>
                    <% } %>
                  
                    <% } %>
                </section>
              <% } %>
    </ul>
  </section>

       
        
        <!-- <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="number" value="<%= user.local.email %>" name="name">
            <input type="number" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %> -->
          
        <!-- LOCAL INFORMATION -->
          <section class="localInfo">
            <div>
                <h3><span class="fa fa-user" aria-hidden="true" ></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
          </section>
  
      
<script src="main.js"></script>

</body>
</html>
